<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
        {% include svg.html %}
       <header class="head">
           {% include header.html %}
           {% include nav.html %}
        </header>
        {% include search.html %}
        <section class="margin">
            <div class="content">
                <p class="switch">switch layout: <span id="grid">Grid</span> &bull; <span id="classic">Classic</span></p>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
                {% include sidebar.html %}
            </div>
        </section>
        {% include footer.html %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'youngmmmoon';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>
